{% load static %}
{% load pagination_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>查询系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}"rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "vendor/morrisjs/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
    {% autopaginate products page_size %}
        <table class="table table-bordered">
            <tbody>
            {% for product in products %}
                <tr>
                    <th>{{ forloop.counter|add:start_line_num}}</th>
                    <th>{{ product.product_id}}</th>
                    <th>{{ product.product_name}}</th>
                    <th>{{ product.large_category}}</th>
                    <th>{{ product.medium_category}}</th>
                    <th>{{ product.small_category}}</th>
                    <th>{{ product.production_company}}</th>
                    <th>{{ product.product_line}}</th>
                    <th>{{ product.retail_price}}</th>
                </tr>
            {% endfor %}
            </tbody>
            <thead>
                <tr>
                    <th>行号</th>
                    <th>物料编码</th>
                    <th>物料描述</th>
                    <th>大类</th>
                    <th>中类</th>
                    <th>明细类</th>
                    <th>生产公司</th>
                    <th>产品线</th>
                    <th>面价</th>
                </tr>
            </thead>
        </table>
    {% paginate %}

    </div>
</body>

</html>